:root {
  --background-color: white;
}

.night {
  --background-color: black;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
  display: none;
}

img {
  width: 200px;
  height: 100px;
}

.main {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.main .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
